<!DOCTYPE html>
<html>
  <head>
    <title>Fargin Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <header>
      <div class="horizontal-line1"></div>
      <div class="login-title">FARGIN</div>
      <div class="horizontal-line2"></div>
    </header>
    <h2>LOGIN</h2>
    <div>
      <div class="login-box">
          <div class="google-btn">
            <a href="/auth/google">GOOGLE LOGIN</a>
          </div>
    
      </div>
    </div>
  </body>
</html>
