* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: #FEFAE0;
}

.header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 30px 0;
  letter-spacing: 5px;
  font-size: 4em;
  color: #FAEDCD;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #CCD5AE;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}
.nav {
  display: flex;
  height: 40px;
  align-items: center;
  background-color: #CCD5AE;
  margin-bottom: 30px;
}

.nav-bar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-left: 55px;
}


section {
  height: 40px;
  display: flex;
  align-self: flex-end;
  margin-right: 10px;
  align-items: center;
}

.nav-bar > div > a, section > a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.15em;
  letter-spacing: 2px;
}

.horizontal-line2 {
  width: 350px;
  height: 8px;
  background-color: #CCD5AE;
}

/* Habit HomePage */

.habit-title {
  text-align: center;
  color: #D4A373;
  font-weight: lighter;
  margin-bottom: 40px;
}

.habit-list {
  margin: 0 auto;
  height: 60vh;
  width: 30%;
  border: 5px solid #E9EDC9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

ul {
  list-style-type: none;
}

.btn-area {
  align-self: center;
  margin-bottom: 40px;
  border: 4px solid #D4A373;;
  height: 75px;
  width: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-area > a {
  text-decoration: none;
  color: #CCD5AE;
  font-size: 4em;
  font-weight: bold;
}

ul > li {
  margin: 20px;
}
ul > li > a {
  text-decoration: none;
  color: #D4A373;
  font-size: 1.15em;
}

ul > li > a:hover {
  color: #CCD5AE;
}