<%- include('../partials/header') %>
<H1 class="habit-title">LIST OF LONG TERM HABITS</H1>
<div class="habit-list">
  <div class="list">
    <ul>
      <%- users.habits.map(h => 
      `<li><a href='/habit/${h.id}'>${h.name}</li>`
      ).join('') %> 
    </ul>
  </div>
<div class="btn-area">
  <a href="/new">+</a>
</div>

</div>

<%- include('../partials/footer') %>