<%- include('../partials/header') %>
<H1 class="habit-title">ENTER A NEW LONG TERM HABIT</H1>
<form action="/new" method="POST" class='new-box'>
    <label>Name:
        <input type="text" name="name" autocomplete="off">
    </label><br>
    <label>Specific Goal:
        <input type="text" name="specificGoal" autocomplete="off">
    </label><br>
    <input type="submit" value="Add New Habit">
    </form>



<%- include('../partials/footer') %>